body {
    background-color: #e3e7ed;
    font-family: 'Inter', sans-serif;
    color: black;
    /*font-size: 14px;*/
    /*text-decoration: none;*/
}

.wrapper{
    width: 595px;
    height: 842px;
    left: 0;
    padding: 32px;
    gap: 32px;
    background-color: white;
    /*display: grid;*/
    /*grid-template-columns: 50% 50%;*/
}

.nav {
    width: 531px;
    height: 36px;
    padding: 0;
    gap: 16px;
    top: 32px;
    left: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.nav>div{
    font-family: 'Inter', sans-serif;
    color: #888888;
    font-style: normal;
    font-size: 32px;
    font-weight: normal;
}

.nav>span{
    font-family: 'Inter', sans-serif;
    color: black;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    text-decoration-style: solid;
}

.box{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 10px;
    height: 28px;
    width: 257px;
    left: 305px;
    top: 100px;
    border-radius: 0;

}

.box>div{
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;




}


